<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        This is from ViewBag.cshtml from Views\Test\ViewBag.cshtml
    </h1>
    <h2>@ViewBag.vdHeader</h2>

    <div>@ViewBag.vbEmpDetails.Name</div>
    <div>@ViewBag.vbEmpDetails.Email</div>
    <div>@ViewBag.vbEmpDetails.Dept</div>
</body>
</html>